html { display:block; height:100%; width:100%; background:url(images/htmlbg.jpg) repeat;
}
body { background:url(images/bodybg.jpg) repeat-x; font-family:Verdana, Geneva, sans-serif; font-size:0.88em;}
#wrap {background:url(images/wrapbg.jpg) no-repeat; width:960px; margin:auto; min-height:900px; margin-bottom:100px;}
#topbar {height:18px;}
#ribbon {height:102px;}
#header {height:200px; background:#222326;}
#topnav {background:#111; height:50px; background:url(images/menubar.jpg) repeat-x; font-family:Tahoma, Geneva, sans-serif; font-weight:bold;}
.clear {clear:both;}
#content {background:#efefef;}
#left {width:650px; float:left; background:#fff;}
#sidebar {width:300px; float:right; background:#efefef;}