<h1> DoFiveThings Daily Check-ins</h1>

<p>DoFiveThings is a team accountability mechanism Probity uses incorporating the idea of a <a href="http://www.extremeprogramming.org/rules/standupmeeting.html">Stand-up meeting</a>.  The idea behind a stand-up meeting is that it’s a short (so short that it can/should be held standing up), daily meeting in which each participant gives a brief update of what was accomplished yesterday, what is planned to be accomplished today, and any foreseeable barriers to completion.
</p>
<p>
As the members of Probity aren’t all in the same place every day, and after having done lots of research into productivity theory, we made a few modifications to the standard stand-up meeting for our own use.  We set it up as a series of rules and consequences to follow.  It’s been a boon to our productivity, so we’re happy to share it with you.</p>

<h2>DoFiveThings Rules:</h2>

<p>1).  Must call in to team leader by 7:30am every morning.  No excuses accepted; tardiness is a failure to meet this rule.
</p>

<p>2).  Each participant must post electronically (via ________?) his/her to-do items for the following day <strong>before</strong> the 7:30am meeting.  Meetings must be kept short pronouncements of tasks accomplished, tasks upcoming for the day, and foreseen challenges of the day.  Freestyling or making things up on the spot is not acceptable.
</p>

<p>3).  Each participant must post at least three to-do items for the day.  Maximum five to-do items.  Participants should post things that they know they will complete.
</p>

<p>4).  At least one to-do item must be working toward a team goal each day.
</p>

<p>5).  Each participant must mark electronically (via _______?) each day <strong>before</strong> 7:30am meeting whether the day’s tasks have been completed or are incomplete.  Incomplete tasks must be commented on with WHY task has not been completed.
</p>

<p>6).  Incomplete tasks remain as tasks to be completed until they are completed.  Incomplete tasks do not count towards the next day’s minimum or maximum number of tasks.
</p>

<p>To ensure that these rules are followed, we came up with a series of consequences for each time a rule is broken (1 broken rule=1 level.  That means you can jump multiple levels all at once).  Level 1 is minimal.  Levels 2-4 cost money.  Levels 5-7 cost time.  Levels 8-10 cost time and money.  We have team-specific rules, which you are more than welcome to adopt, but I’ve also included sandwich equivalencies for ease of understanding:
</p>

<p>Level 1:  One sandwich.  Print, purchase background, and mount a Probity icon on the wall of the Probity office.
</p>

<p>Level 2:  Half-sandwiches for each participant.  Buy milkshakes for team, mount 2 Probity icons.
</p>

<p>Level 3: Full sandwiches for each participant.  Treat the team to Five-Star lunch/dinner (deluxe burgers in Chicago), mount three Probity icons.
</p>

<p>Level 4: As many sandwiches as your team can eat at once.  Treat the team to all-you-can-eat Sushi, mount four probity icons
</p>

<p>Level 5:  One HUGE epic gourmet sandwich.  Create and mount a large team motivator on office wall, mount five Probity icons
</p>

<p>Level 6:  Custom-made day of sandwichmaking.  Devote an entire day to working on team projects, cook dinner for team (including shopping, preparation, cleanup), mount six Probity icons.
</p>

<p>Level 7:  Custom gourmet sandwich spread as assigned.  1-2 project-oriented tasks assigned by team members related to current projects and based on member’s skills, mount seven Probity icons.
</p>

<p>Level 8:  Cater a small gourmet sandwich party.  Moderate project (often involving monetary cost) as assigned by team, mount eight Probity icons.
</p>
<p>L
	evel 9:  Cater a large gourmet sandwich party.  Moderately significant project (often involving monetary cost) as assigned by team, mount nine Probity icons.
</p>

<p>Level 10:  Make 100 custom-order sandwiches.  Make large purchases (approx.. $250-$350 cost) as directed by team, and complete all relevant set-up of purchases, mount ten Probity icons.
</p>

<h2>Addendum to the consequences:</h2>
</p>

<p>After Level 5, tasks become cumulative (i.e. Level 7 would have to do Level 6 and Level 5 in addition to Level 7).
</p>

<p>Each Uncompleted Task by the time of the Daily Check-In counts as a demerit each day it is left undone.  When a member accumulates two demerits, they become a Consequence, to be appended to any existing Consequences.
</p>

<p>If Level is not reconciled within one week of assignment, then consequence advances to next Level.</p>